doctype html
html(lang="en")
  head
    title Tester Expresiones Regulares
    meta(charset="utf-8")
    script(src="/socket.io/socket.io.js")
    script(src="js/main.js")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
    link(href='css/animate.css' rel='stylesheet' type='text/css')
  body
    section(class="full-height text-center" id="main-content")
      div(class="data")
        div(class="col-md-3 center-block no-float top-space")
          img(src="imgs/pug.svg" class="animated fadeIn")
          form(onsubmit="return addMessages(this)" style="margin-top:1.5em")
            input(type="text" id="conte" placeholder="Su nombre" class="form-control")
            input(type="text" id="texto" placeholder="Cuentenos algo" class="form-control")
            textarea(readonly="readonly" cols="70", rows="10", id="messages" class="form-control")
            input(type="submit" class="btn btn-info" value="Evaluar")
          ul
            -for (i in lista)
              li #{lista[i].asunto}
          h1(class="pacifico big2 green animated fadeIn delay-1") Powered by
          h1(class="pacifico big green animated fadeIn delay-1") stuffDevelopers
          h1(class="lato big2 green animated fadeIn delay-1") ¡Comprometidos con el exito!
          div(class="animated fadeInDown delay-2")
    //div(id="messages")


  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
